@import "main.scss";

.content-about {
    p {
        color: color(sorfGrey);
    }

    margin: 5rem 2rem 5rem;
}


ol {
    li {
        line-height: 1.4em;
        color: color(sorfGrey);
    }

}

img {
    width: 100%;
    height: auto;
}

@include breakpoint(tablet) {
    .content-about {
        p {
            color: color(sorfGrey);
            font-size: 1.5em;
            text-align: center;
        }

        margin: 5rem 15rem 5rem;
    }

    .summary {
        margin: 0 0 15rem;
    }

    .t1,
    .t2 {
        margin: 5rem 0 5rem;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        height: 70vh;
        .gt1l {
            grid-column: 1 / 4;
            img{
                object-position: left;
            }
        }
        .gt1r {
            grid-column: 4 / 7;
        }
        .gt2l {
            grid-column: 1 / 4;
        }
        .gt2r {
            grid-row: 1;
            grid-column: 4 / 7;
            img{
                object-position: right;
            }
        }
    }

    .container-1 {
        height: 100%;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }


    .container-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    ol {

        li {
            font-size: 1.4em;
            letter-spacing: .1em;
            margin: 1rem 0;
        }
    }
}

.process{
    width: 100%;
    height: 20vh;
    margin: 5rem 0;
    img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.button-container{
    width: 100%;
}