@import "main.scss";

body {
    text-align: center;
    overflow-x: hidden;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.title-main{
    opacity: .5;
    font-size: 3em;
 padding: 10vh 0 2vh;
 color: color(mokka);
 @include breakpoint(tablet){
     font-size: 6em;


 }
}

.landing{
    height: 100vh;
    width: 100vw;
}

.content{
    padding-top: 15vh;
    h1{
        text-transform: uppercase;
        font-size: 1.5em;
    }
    p{
        margin: 2rem 0;
    }
}


@include breakpoint(tablet){
    .landing{
        height: 100vh;
        width: 100vw;
    }
    
    .content{
        padding-top: 20vh;
        h1{
            text-transform: uppercase;
            font-size: 4em;
        }
        p{
            margin: 4rem 0;
            line-height: 2rem;
            font-size: 1.6em;
        }
    }
}

.container {
    height:90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 2em;
    padding: 2vh 2rem;
    @include breakpoint(tablet) {
    align-items: baseline;

        justify-content: space-around;
        flex-direction: row;
        padding: 10vh 5vw 4vh;
        height: 70vh;
    }

    a {
        overflow: hidden;
        border-radius: 5px;

        background-color: rgba(85, 83, 83, 0.5);
        height: 80%;
        width: 100%;
    
        @include breakpoint(tablet) {
            height: 60vh;
    
        }

        .tools {
            //Shadecolor
            backdrop-filter: blur(2px);
            // background-color: rgba(216, 216, 216, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: .6em;
            letter-spacing: .1em;
            height: 100%;
            width: 100%;
            h1, strong {
                color: white;
            }

            h1{
                font-weight: 200;
                color: white;
            }
            
            @include breakpoint(tablet) {
            backdrop-filter: blur(0px);

                opacity: 1;
                transition: .6s;
                
                font-size: .8em;

            }
        }
    }
    a:hover {
        .tools {
            opacity: 1;
            transition: .6s;
            background-color: #3a3937b0;
            box-shadow: black 20px 20px 10px ;
            backdrop-filter: blur(6px);
        }
    }
}


.t1{
    background-position: center;
    background-size: cover;
    background-image: url(../img/covers/Cover_t1.jpg);
}

.t2{
    background-position: center;
    background-size: cover;
    background-image: url(../img/covers/Cover_t2.jpg);
}


@include breakpoint(tablet){
    .button-container{
    }

    .about{
        margin-top: 0em;
    }
}


.about {
    border: solid 2px color(mokka);
}


@include breakpoint(tablet) {
    .about {
        opacity: 1;
    }

    .about:hover {
        background-color: color(mokka);
        color: color(neutralGrey);
    }
}

.scrollTo{
    margin-top: 10rem;
    cursor: pointer;
    background: linear-gradient(90deg, color(act1) 10%, color(act2) 90%);
    color: white !important;
    width: 20rem;
    
    @include breakpoint(tablet){
    opacity: .6;
    margin-top: 15vh;

    }
}

.scrollTo:hover{
    opacity: 1;
}

.arrow-container{
    bottom: 30vh;
}