@import "main.scss";

body {
    background-image: url(../IMG/TitleImage_01.jpg);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    background-position: center;
}

.view {
    background-color: rgba(0, 0, 0, 0.48);
}

h1 {
    font-weight: 200;
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.tools {
    font-size: 2em;
    letter-spacing: .1em;

    @include breakpoint(tablet) {
        opacity: .6;
        transition: .6s;

    }
}

@include breakpoint(tablet) {

    a:hover {

        .tools {
            opacity: 1;
            transition: .6s;
        }
    }
}

a {
    border-radius: 5px;
    backdrop-filter: blur(10px);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 10vh 0;

    @include breakpoint(tablet) {
        width: 60%;
    }
}