@import "main.scss";

.viewer {
    margin: 5vh 0 0 0;
    overflow-x: hidden;
}

//canvas styling

#canvas-container {
    width: 100%;
    height: 40vh;

    @include breakpoint(tablet) {
        height: 60vh;
    }
}

//Styling decription part
.description {
    font-size: 1.2em;
    opacity: .6;
    margin: 1em 0 2em;
    text-align: center;
    width: 100%;
    height: auto;

    @include breakpoint(tablet) {
        margin: 1em 0 10vh;
    }
}

line {
    stroke: rgb(184, 184, 184);

    @include breakpoint(tablet) {
        stroke: beige;
    }
}




//Styling button

.about {
    border: solid 2px color(act1);
}


@include breakpoint(tablet) {
    .about {
        opacity: 1;
    }

    .about:hover {
        background-color: color(act1);
        color: color(neutralGrey);
    }
}

.button-container {

    //To customizing button

    .custom {
        //Button
        background: color(act1);
        color: color(neutralGrey);
        opacity: 1;
        transition: 1s;

    }

    //Hovering
    @include breakpoint(tablet) {
        .custom {
            opacity: .6;
            transition: .5s;
        }

        .custom:hover {
            opacity: 1;
            transition: .5s;
        }
    }
}

.arrow {
    height: 1.4rem;
    position: absolute;
    opacity: 0.8;
    bottom: 5vh;
    cursor: pointer;
    transition: 0.2s;
    margin-left: -7px;
}