@import "main.scss";



.container-btn {
    height: 48vh;
}

.btnmoo{
    opacity: .2;
    background-color: grey;
    border-radius: 0 2em 2em 0;
}
.btnsoo{
    border-radius: 2em 0  0 2em;
    background-color: color(act2);
}

.btnmoo:hover{
    opacity: .8;
}

.schema{
    padding-top: 5vh;
    height: 90vh;
    img{
        object-position: left;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}